<!--     Student: David Numa, ID 8746372    -->
<!--     Inspired by www.starwars.com       -->
<!--     August 13, 2021                    -->

<footer>
    <!-- Marking the footer section -->

    <div class="line"></div>
    <a href="https://www.starwars.com">&copy; 2021 - StarWars.com</a>
    <a href="mailto:dnumamontoya6372@conestogac.on.ca">David Numa's Web Design Final Project &copy; 2021 - Conestoga
        College</a>
</footer>
</main>
<!-- Closing the #page section -->
</body>

</html>