<!-- Student: David Numa            -->
<!-- Inspired by www.starwars.com   -->

<!DOCTYPE html>
<!-- The new doctype -->
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Star Wars Blog - By David Numa</title>
    <link rel="icon" type="image/ico" href="/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="/ckeditor/ckeditor.js"></script>
</head>

<body>

    <main id="page">
        <!-- Defining the #page section with the section tag -->
        <header>
            <br>
            <% if(typeof(userLoggedIn) !='undefined' && userLoggedIn){%>
                <h3 style="float: right; border-bottom: 2px solid #3273C5;">Welcome <%= username %>
                </h3>
                <%}%>
                    <!-- Defining the header section of the page with the appropriate tag -->
                    <a class="main-logo" href="/"><img src="/images/logo.png" width="200" height="90"
                            title="Star Wars Logo" /></a>
                    <hgroup>
                        <h1>A Star Wars Blog</h1>
                        <h3>May the <strong>blog</strong> be with you</h3>
                    </hgroup>
                    <%- include('../layouts/nav'); -%>
        </header>