<!--     Student: David Numa, ID 8746372    -->
<!--     Inspired by www.starwars.com       -->
<!--     August 13, 2021                    -->

<%- include('layouts/header'); -%>

<div class="line"></div>
<!-- Dividing line -->

<article id="article1">
    <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
    <h2><a href="#">Error 404: Page Not Found</a></h2>

    <div class="line"></div>

    <div class="articleBody clear">
        <figure class="figure_404">
            <!-- The figure tag marks data (usually an image) that is part of the article -->
            <img src="images/404.jpg" width="900" title="404 page not found" alt="404" />
        </figure>
        <p>
            If you're reading this, it only means a dev is going to be fired
            pretty soon.
        </p>
        <blockquote>
            “Uuuuuuuurrr Ahhhrrrr Uhrrgr Ahhrrggrr Aaahhhrrr”
        </blockquote>
        <p>-- Chewbacca</p>
    </div>
</article>
<%- include('layouts/footer'); -%>