<!--     Student: David Numa, ID 8746372    -->
<!--     Inspired by www.starwars.com       -->
<!--     August 13, 2021                    -->

<%- include('layouts/header' , { posts: posts }); -%>

    <div class="line"></div>
    <!-- Dividing line -->
    <br>
    <h2 style="font-weight: bold;">Add a new page</h2>

    <section>
        <h3>The page has been saved!</h3>
    </section>

    <%- include('layouts/footer'); -%>