<!--     Student: David Numa, ID 8746372    -->
<!--     Inspired by www.starwars.com       -->
<!--     August 13, 2021                    -->

<%- include('layouts/header' , { posts: posts }); -%>

    <!-- Article 1 start -->

    <div class="line"></div>
    <!-- Dividing line -->

    <article id="article1">
        <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
        <h2><a href="#">Jedi</a></h2>

        <div class="line"></div>

        <div class="articleBody clear">
            <aside id="sidebar_2col">
                <figure>
                    <!-- The figure tag marks data (usually an image) that is part of the article -->
                    <img src="images/jedivertical.jpg" width="300" title="Lule Skywalker" alt="Jedi" />
                </figure>
            </aside>
            <section id="main_2col">
                <blockquote>
                    “For My Ally Is The Force, And A Powerful Ally It Is.”
                </blockquote>
                <p>-- Yoda</p>
                <p>
                    A <strong>Jedi</strong> was a devotee to the ways of the Jedi
                    Order, an ancient order of protectors united by their ability to
                    harness the power of the Force. Adhering to a doctrine that
                    favored the light side of the Force, the Jedi aspired to attain
                    a state of inner tranquility through calmness and meditation
                    while avoiding emotions affiliated with the dark side of the
                    Force, such as anger and hatred. Nevertheless, Jedi philosophy
                    did not forbid a Jedi from acting in self-defense or in the
                    defense of others. To that end, the weapon of a Jedi was the
                    lightsaber, a blade composed of pure energy and different colors
                    such as blue, green, purple, or yellow.
                </p>
                <p>
                    Before the time of the Galactic Empire, a Jedi was a guardian of
                    peace and justice in the Galactic Republic. The Jedi's
                    commitment to peace and democracy brought them into conflict
                    with an order of dark side wielders known as the Sith, who
                    sought power and dominion over the galaxy. Emerging victorious
                    from their wars with the ancient Sith, the Jedi carried on in
                    their duty as peacekeepers for over a millennium until the
                    advent of the Clone Wars twenty-two years before the Battle of
                    Yavin. Faced with a pan-galactic civil war between the Republic
                    and Confederacy of Independent Systems, the Jedi adopted the
                    mantle of generals and soldiers in the Grand Army of the
                    Republic.
                </p>
            </section>
        </div>
    </article>

    <!-- Article 1 end -->
    <%- include('layouts/footer'); -%>