<!--     Student: David Numa, ID 8746372    -->
<!--     Inspired by www.starwars.com       -->
<!--     August 13, 2021                    -->

<%- include('layouts/header' , { posts: posts }); -%>

    <div class="line"></div>
    <!-- Dividing line -->

    <article id="article1">
        <h2><a href="#">DASHBOARD</a></h2>

        <div class="line"></div>

        <div class="articleBody clear">
            <section>
                <h3>Welcome <%= username %>
                </h3>
            </section>
        </div>
    </article>

    </section>
    <%- include('layouts/footer'); -%>